{% extends 'base.html' %}

{% block title %}Product - Samtse Ferro Alloy Limited{% endblock %}

{% load static %}
{% block content %}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4 "style="font-family:  Playfair Display, Merriweather, Georgia, serif;">Products</h1>
        <ol class="breadcrumb justify-content-center mb-0 ">
            <li class="breadcrumb-item"style="font-family:  Playfair Display, Merriweather, Georgia, serif;"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active text-primary"style="font-family:  Playfair Display, Merriweather, Georgia, serif;">Products</li>
        </ol>
    </div>
</div>
<!-- Header End -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="section-title mb-0">
            <div class="sub-style px-3 mb-0">
                <h4 class="sub-title pe-3 mb-0">Product</h4>
            </div>
        </div>
    </div>
</div>
<!--Products start-->
<div class="container my-5">
    <h4 class="sub-title pe-3 mb-0 my-5">Overview</h4>
</div>
<div class="container-fluid about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 ">
                <div class="section-title text-start mb-5">
                    <p class="my-3" style="font-family:  Playfair Display, Merriweather, Georgia, serif;">Ferro Silicon,
                        a critical alloying element in the steel and casting industries, is
                        produced with precision and excellence at Samtse Ferro Alloy Company. Our high-quality ferro
                        silicon is essential for various industrial applications, offering superior performance and
                        reliability.</p>
                </div>
            </div>
            <div class="col-lg-5 ">
                <div class="mb-4">
                    <img src="{%static 'APP/img/image/ferro_slicon.webp'%}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h4 class="sub-title pe-3 mb-0 my-5">Key Features</h4>
</div>
<div class="container-fluid about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-10 ">
                <div class="mb-4">
                    <p class="" style="font-family:  Playfair Display, Merriweather, Georgia, serif;"><img
                            src="{% static 'APP/img/icons/bulletpoint.png' %}" class="bulletpoint">Our ferro silicon
                        boasts a high purity level, ensuring optimal performance in metallurgical processes.</p>
                    <p class="" style="font-family:  Playfair Display, Merriweather, Georgia, serif;"><img
                            src="{% static 'APP/img/icons/bulletpoint.png' %}" class="bulletpoint">Rigorous quality
                        control measures guarantee that each batch of ferro silicon meets stringent industry standards.
                    </p>
                    <p class="" style="font-family:  Playfair Display, Merriweather, Georgia, serif;">
                        <img src="{% static 'APP/img/icons/bulletpoint.png' %}" class="bulletpoint">The stable chemical
                        composition of our ferro silicon provides reliable results in steelmaking and foundry
                        operations.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h4 class="sub-title pe-3 mb-0 my-5">Specifications</h4>
</div>
<div class="container-fluid about mb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-10 ">
                <div class="mb-4">
                    <p class="" style="font-family:  Playfair Display, Merriweather, Georgia, serif;"><img
                            src="{% static 'APP/img/icons/bulletpoint.png' %}" class="bulletpoint">Silicon Content:
                        [Specify the percentage of silicon, e.g., 70-75%]</p>
                    <p class="" style="font-family:  Playfair Display, Merriweather, Georgia, serif;"><img
                            src="{% static 'APP/img/icons/bulletpoint.png' %}" class="bulletpoint">Carbon Content:
                        [Specify the maximum carbon content, e.g., 0.1%]</p>
                    <p class="" style="font-family:  Playfair Display, Merriweather, Georgia, serif;">
                        <img src="{% static 'APP/img/icons/bulletpoint.png' %}" class="bulletpoint">Sulphur Content:
                        [Specify the maximum sulphur content, e.g., 0.02%]</p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <h4 class="sub-title pe-3 mb-0 my-5">Packaging and Delivery
    </h4>
</div>
<div class="container-fluid about mb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 ">
                <div class="mb-4">
                    <p class="" style="font-family:  Playfair Display, Merriweather, Georgia, serif;"><img
                            src="{% static 'APP/img/icons/bulletpoint.png' %}" class="bulletpoint">Packaging Options:
                        Available in bulk, jumbo bags, and custom packaging to meet specific client needs.</p>
                    <p class="" style="font-family:  Playfair Display, Merriweather, Georgia, serif;"><img
                            src="{% static 'APP/img/icons/bulletpoint.png' %}" class="bulletpoint">Delivery: Efficient
                        logistics and a robust supply chain ensure timely delivery to our global customers.</p>
                </div>
            </div>
            <div class="col-lg-5 ">
                <div class="mb-4">
                    <img src="{%static 'APP/img/image/Packaging.png'%}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>



<!--Products Ends-->
{% endblock %}